@import "tailwindcss";
@import "react-toastify/dist/ReactToastify.css";

@layer utilities {
  .clickable {
    @apply cursor-pointer;
  }

  button {
    @apply cursor-pointer;
  }
}

/* Áp dụng cho tất cả input, textarea, select */
input::placeholder,
textarea::placeholder,
select::placeholder {
  @apply text-gray-400;
}
