@import "tailwindcss";
<<<<<<< HEAD

/* Áp dụng cho tất cả input, textarea, select */
input::placeholder,
textarea::placeholder,
select::placeholder {
  @apply text-gray-400;
}
=======
@import "react-toastify/dist/ReactToastify.css";
>>>>>>> origin/main
